@model AppVuelosCRWeb.Models.Tiquete

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tiquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cedula" class="control-label"></label>
                <input asp-for="cedula" class="form-control" />
                <span asp-validation-for="cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreCompleto" class="control-label"></label>
                <input asp-for="nombreCompleto" class="form-control" />
                <span asp-validation-for="nombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lugarDestino" class="control-label"></label>
                <input asp-for="lugarDestino" class="form-control" />
                <span asp-validation-for="lugarDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aerolinea" class="control-label"></label>
                <input asp-for="aerolinea" class="form-control" />
                <span asp-validation-for="aerolinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pagoTiquete" class="control-label"></label>
                <input asp-for="pagoTiquete" class="form-control" />
                <span asp-validation-for="pagoTiquete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="impuesto" class="control-label"></label>
                <input asp-for="impuesto" class="form-control" />
                <span asp-validation-for="impuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioFinal" class="control-label"></label>
                <input asp-for="precioFinal" class="form-control" />
                <span asp-validation-for="precioFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
